@page
@model AccessDeniedModel
@{
	ViewData["Title"] = "Access Denied";
}

<div class="text-center">
	<h1 class="text-primary fw-bold">
		Access Denied
	</h1>
	<h4 class="text-danger fw-bold">
		You don`t have permission to access this resource
	</h4>
</div>