@page
@model LogoutModel
@{
	ViewData["Title"] = "Logout";
}


<div class="row">
	<div class="col-md-6">
		<form method="post">
			<h1>Are you sure, Do you want to logout?</h1>
			<button type="submit" class="btn btn-outline-danger">logout</button>
		</form>
	</div>
</div>